.mainTitle{
  text-align: center;
  padding: 20px;
}
nav a{
  text-align: left;
  padding-left: 30px;
  color:black !important;
}
/* .container * {
  font-size: 30px;
  text-align: center;
  text-emphasis: filled;
} */

.text-left{
  padding-left:140px !important;
}

.text-right{
  padding-right:140px !important;
}


@media (max-width: 1200px) {
  div img {
    visibility: hidden;
  }
}

li {
  text-align: left;
}

div ul{
  text-align: left;
}

.china li, .vietnam li{
  text-align: left;
}
.col{
  padding-left: 150px;
}
.list-title{
  text-align: left;
}


.icons{
  list-style-type: none;
  float: right;
}

.card{
  margin: 10px !important;
  margin-left: 50px !important;
}


@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .card{
      font-size: 250%;
      width: 48rem !important;
    }
    .mainTitle{
      font-size: 150px;

    }
    nav a{
      font-size: 150%;
    }
}
